* {
	box-sizing: border-box;
	font-family: Trebuchet MS;
}

body {
	/* Sets the margin and the background color of the whole page */
	margin: 25px;
	background-color: #c4b49a;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-ld-1, .col-ld-2, .col-ld-3, .col-ld-4, .col-ld-5, .col-ld-6, .col-ld-7, .col-ld-8, .col-ld-9, .col-ld-10, .col-ld-11, .col-ld-12 {
    float: left;
  }
  .col-ld-1 {
    width: 8.33%;
  }
  .col-ld-2 {
    width: 16.66%;
  }
  .col-ld-3 {
    width: 25%;
  }
  .col-ld-4 {
    width: 33.33%;
  }
  .col-ld-5 {
    width: 41.66%;
  }
  .col-ld-6 {
    width: 50%;
  }
  .col-ld-7 {
    width: 58.33%;
  }
  .col-ld-8 {
    width: 66.66%;
  }
  .col-ld-9 {
    width: 74.99%;
  }
  .col-ld-10 {
    width: 83.33%;
  }
  .col-ld-11 {
    width: 91.66%;
  }
  .col-ld-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

h1 {
	text-align: center;
	margin-bottom: 25px;
}

section {
	border: 1px solid black;
	background-color: #c0c0c0;
}

h2 {
	float: right;
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 110px;
	height: auto;
	margin: 0px;
	padding: 7px;
}

p {
	clear: right;
	padding: 10px;
	text-align: justify;
}

#chicken {
	background-color: #964b00;
	color: #ffa500
}

#beef {
	background-color: #b23c4e;
	color: #ffffff;
}

#sushi {
	background-color: #ca9502;
	color: #000000;
}